doctype html
html(lang="en")
  include includes/head.pug
  body.grey.lighten-4
    include includes/header.pug
    // Sections
    main.container
      include includes/home.pug
      include includes/about.pug
      include includes/skills.pug
      include includes/portfolio.pug
      include includes/contact.pug
    include includes/social.pug
    include includes/foo.pug    
    include includes/js-footer.pug
