head
  meta(charset="utf-8")
  link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
  link(rel="manifest" href="img/favicon/manifest.json")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")

  meta(name="viewport" content="width=device-width, initial-scale=1.0")  
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Personal Portfolio
  // Facebook Open Graph
  meta(name="description" content="German Alfonso's Porfolio")
  meta(name="author" content="GerAlfonso")
  meta(property="og:locale" content="en_EN")
  meta(property="og:url" content="https://geralfonso.github.io/portfolio1/")
  meta(property="og:type" content="website")
  meta(property="og:title" content="German Alfonso's Porfolio")
  meta(property="og:description" content="Show the Local Weather.")
  meta(property="og:image" content="https://geralfonso.github.io/ranquote/img/think-different.png")
  // Twitter Card
  meta(name="twitter:title" content="German Alfonso's Porfolio")
  meta(name="twitter:description" content="German Alfonso's Porfolio")
  meta(name="twitter:image" content="https://geralfonso.github.io/ranquote/img/think-different.png")
  meta(name="twitter:site" content="@GerAlfonso")
  meta(name="twitter:creator" content="@GerAlfonso")
  meta(name="twitter:via" content="GerAlfonso")
  meta(name="twitter:card" content="photo")
  meta(name="twitter:url" content="https://geralfonso.github.io/portfolio1/")
  // Import Google Icon Font
  //- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous") 
  link(rel="preconnect" href="https://fonts.googleapis.com/" crossorigin)
  link(rel="preconnect" href="https://maxcdn.bootstrapcdn.com/" crossorigin)
  // Import materialize.css
  link(type="text/css" rel="stylesheet" href="./css/materialize.css" media="screen,projection")
  link(type="text/css" rel="stylesheet" href="./css/main.css" media="screen,projection")
  style(type="text/css").
    .green{background-color:#4CAF50!important}.green-text{color:#4CAF50!important}.green.accent-3{background-color:#00E676!important}.green-text.text-accent-3{color:#00E676!important}.grey{background-color:#9e9e9e!important}.grey-text{color:#9e9e9e!important}.grey.lighten-4{background-color:#f5f5f5!important}.grey-text.text-darken-2{color:#616161!important}.grey-text.text-darken-4{color:#212121!important}.white{background-color:#fff!important}html{font-family:Roboto,GillSans,Calibri,Trebuchet,sans-serif;font-weight:normal}body{height:1300px}.padd{padding:20px}header{z-index:999!important}nav .button-collapse{color:#616161}nav ul a{text-transform:uppercase;color:#616161;line-height:64px;height:64px}.activo{background-color:transparent!important;border-bottom:5px solid #00E676;color:#00E676}.home{padding:20px 10px}.home h1{font-size:3rem;text-transform:uppercase}.button-row a{margin-right:3rem;margin-bottom:1rem}.facebook{background-color:#3b5998;color:#fff!important}.facebook i{color:#fff!important}.github{background-color:#444444;color:#fff!important}.github i{color:#fff!important}.linkedin{background-color:#007bb6;color:#fff!important}.linkedin i{color:#fff!important}.twitter{background-color:#55acee;color:#fff!important}.twitter i{color:#fff!important}
