// Home
section#home
  .row.home
    .col.s12.m5.l4.center-align
      img.responsive-img(src="https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/27337011_10155300690449103_4796720643775804802_n.jpg?oh=fc5f2aef180c7ccdeaaca631473751c1&oe=5AE26D75" alt="German Alfonso")
    .col.s12.m7.l8
      .padd
        h1.grey-text.text-darken-2 I'M 
          span.green-text.text-accent-3 German Alfonso
        h3 Developer 
          span.green-text.text-accent-3 and 
          span Web designer
        p.text-flow Hello, I’m German. I'm having years of experience in Web develop and UX design. Come and knock my door, I'll be very happy to be Your partner, and let's make something great together!
        p.button-row
          a.btn-large.waves-effect.waves-light.hoverable.white.grey-text.text-darken-2(href="#contact") Contact Me
          a.btn-large.waves-effect.waves-light.hoverable.green.accent-3(href="#!") Download CV
