.fixed-action-btn.vertical
  a.btn-floating.btn-large.green.accent-3
    i.large.material-icons person_add
  ul
    li
      a.btn-floating.social.facebook(href="https://www.facebook.com/german.c.alfonso" target="_blank")
        i.fa.fa-facebook
    li
      a.btn-floating.social.twitter(href="https://twitter.com/geralfonso" target="_blank")
        i.fa.fa-twitter
    li
      a.btn-floating.social.linkedin(href="https://www.linkedin.com/in/germanalfonso/" target="_blank")
        i.fa.fa-linkedin
    li
      a.btn-floating.social.github(href="https://github.com/geralfonso" target="_blank")
        i.fa.fa-github
